.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1em;
  background-color: #fff;
  color:#333;
  font-family:"Habibi", serif;
  text-transform: uppercase;
  font-weight:700;
  justify-content: space-between;
}
.logo {
  display:inline-flex;
  align-items:center;
  margin: 0 1em;
}
.logo a {
  text-decoration: none;
  letter-spacing:0.5px;
  font-size:1.5em;
}

.logo img {
  max-height: 100px;

}

.navigationItems {
  display:inline-flex;
  align-items: center;
  margin: 0 1em;
}
.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  
}

.navigationItem a {
  color: #33333390;
  text-decoration: none;
  letter-spacing: 0.5px;

}
.navigationItem a:hover {
  box-shadow: 0 2px 0px 0px rgb(207, 135, 0);
  color: #333333;

}